.idea
.sconsign.dblite
AppDir
build
netpanzer
pak2bmp
bmp2pak
# For some IDEs
cmake-build-debug
# For building.
support/icon/npicon.o
*.dll
*.o
*.log
/out/moon-lander-1.0-10-x86_64.AppImage
/out/moon-lander-1.0-10-x86_64.AppImage.sha1sum
/out/moon-lander-1.0-10-x86_64.AppImage.zsync
/moon-lander/
