# Build outputs
out/
moon-lander-source/
moon-lander-data-extract/

# AppDir working directory
*-AppDir/

# Downloaded source tarballs and diffs
*.tar.gz
*.tar.xz
*.dsc
*.changes
*.deb
*.buildinfo

# AppImage outputs (present locally, but committed via releases)
*.AppImage
*.AppImage.sha256sum
*.AppImage.zsync
/moon-lander/
